@font-face {
    font-family: Solway;
    src: url(Solway-Medium.ttf);
}
body{
    font-family: Solway;
    color: rgb(78, 108, 80);
    background-image:url("cookiemainbackground.png");
    background-repeat:repeat;
    background-size: contain;
    background-color:rgb(250, 236, 214);
    padding:30px;
    margin-left:20%;
}
.recipecard{
    width: 80%;
    height: 80%;
    background-color:rgb(255, 255, 255);
    border: solid 5px rgb(130, 0, 0);
    padding: 5px;
    margin-bottom: 5%;
}

.headercontainer{
    display:flex;
    text-align:center;
    height:20vh;
    width:55vw;
}

img{
    width:80%;
    border:solid 5px rgb(130, 0, 0);
    }

.colors{
    
    color: rgb(130, 0, 0);
    color: rgb(78, 108, 80);
    color: rgb(242, 222, 186);
    color: rgb(250, 236, 214);
}

