header{
    font-family:'Franklin Gothic Medium';
    color: rgb(241, 208, 10);
    background-color:rgb(33, 50, 94);
    display:flex;
    justify-content:space-around;
    padding-top:3%;
    padding-left:3%;
    width: 100vw;
    height: 20vh;
}
.yellowbridge{
    background-image: url("yellowbridge.png");
    width:100px;
    height:75px;
}
.navbar{
    display:flex;
    justify-content:space-around;
    padding-bottom:3px;
    background-color:rgb(62, 73, 122);
    color:rgb(240, 240, 240);
    width:100vw;
    height:7vh;
}
.sectiontitle{
    display:flex;
    justify-content:left;
    padding:3%;
    color:rgb(62, 73, 122);
}
.yellowsectionicon{
    width:20px;
    height:20px;
    border-radius:50%;
    color:rgb(241, 208, 10);
}
.resumesection{
    text-align:left;
    width:80%;
    background-color:rgb(62, 73, 122);
    color: rgb(240, 240, 240);
    padding:2%;
    
}
body{
    font-family:'Franklin Gothic Medium';
    color:rgb(33, 50, 94);
    background-color:rgb(240, 240, 240);
    text-align:center;
    
}
.button{
    background-color: rgb(241, 208, 10);
    border-radius: 10px;
    text-decoration:none;
    color: rgb(33, 50, 94);
    width:300px;
    height:100px;
    padding:20px;
}
.colors{
    color:
    rgb(33, 50, 94)
    rgb(62, 73, 122)
    rgb(241, 208, 10)
    rgb(240, 240, 240)


    

}