header{
    font-family:'Franklin Gothic Medium';
    color: rgb(241, 208, 10);
    background-image: url("headeralternate.png");
    background-size:cover;
    background-repeat:no repeat;

    display:flex;
    justify-content:space-around;
    padding:3%;
    width: 100vw;
    height: 20vh;
    margin-top:-1%;
    margin-left:-1%;
}

.navbar{
    display:flex;
    justify-content:space-around;
    padding-bottom:10px;
    background-color:rgb(62, 73, 122);
    color:rgb(240, 240, 240);
    width:103vw;
    height:7vh;
    margin-left:-1%;
}

.sectiontitle{
    text-decoration:underline 4px rgb(241, 208, 10);
    color:rgb(62, 73, 122);
}

body{
    width:100vw;
    font-family:'Franklin Gothic Medium';
    color:rgb(33, 50, 94);
    background-color:rgb(240, 240, 240);
    text-align:center;
    background-image: url("alternatebodybackground.png");
    background-size:contain;
}

.colors{
    color:
    rgb(33, 50, 94)
    rgb(62, 73, 122)
    rgb(241, 208, 10)
    rgb(240, 240, 240)
}
a{
    color:rgb(240, 240, 240);
    text-decoration:none;

}
.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}
.button{
    background-color: rgb(241, 208, 10);
    border-radius: 10px;
    text-decoration:none;
    color: rgb(33, 50, 94);
    width:40%;
    height:fit-content;
    padding:1%;
}